* {
	padding: 0;
	margin: 0;
}

body {
	height:100%;
	color: #AAAAAA;
	font-family: Lato;
	padding: 0;
	margin: 0;
}

html {
	height:100%;
}

.skrollr-desktop body {
	height:100% !important;
}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
}

.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}

.parallax-image-wrapper-100 {
	height:100%;
	top:-100%;
}

.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.parallax-image-50 {
	height:200%;
	top:-50%;
}

.parallax-image-100 {
	height:100%;
	top:0;
}

.parallax-image.skrollable-between {
	display:block;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.gap {
	background: transparent center no-repeat;
	background-size: cover;
}

.skrollr .gap {
	background: transparent !important;
}

.gap-50 {
	height: 50%;
}

.gap-100 {
	height: 100%;
}

.content {
	background: #6633FF;
	padding: 1em;
	margin: 0;
	padding-right: 4em;
	padding-left: 4em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
    color: #EEEEEE;
	font-size: 600%;
	font-weight: normal;
    line-height: 100%;
}

h2 {
	font-size: 400%;
	font-weight: normal;
}

p {
    font-size: 200%;
}

b {
    color: #EEEEEE;
}

#header {
	text-align: right;
	height: 100%;
}

#education {
	height: 40%;
}

#work {
	height: 50%;
}

#more {
	height: 100%;
}

a {
	color: #CCCC33;
}

